@model WebCookbook.Models.RecipeViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>
@using (Html.BeginForm("Edit", "RecipeView", FormMethod.Post, new {enctype = "multipart/form-data"}))
{
   @Html.Partial("CreateEditPartial", Model)
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
